services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  PhilTenno\FileSyncGo\:
    resource: '../src/*'
    exclude: '../src/{ContaoManager,DependencyInjection,FileSyncGoBundle.php}'
